body {
  background-color: #f3f5f9;
  overflow-x: hidden;
}

.option-custom::selection {
  background-color: #9094a5;
}

.first {
  color: #9094a5;
}

.second {
  color: #e0e0e0;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  /* Scrollbar color */
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0;
  /* Lighter gray on hover */
}

.firststepshape {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  height: 40px;
  width: 800px;
  justify-items: start;
}

.secondtofourthstepshape {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  height: 40px;
  width: 100%;
  justify-items: center;
}

.fifthstepshape {
  clip-path: polygon(100% 0, 100% 51%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
  height: 40px;
  width: 100%;
  justify-items: center;
}
